@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Chakra+Petch:wght@700&family=M+PLUS+1p&family=Permanent+Marker&family=Press+Start+2P&display=swap');

:root{
 --clr-sky:#0ea5e9;
 --clr-slate:#cbd5e1;
 --clr-red:#dc2626;
}

/* RGB(255, 0, 0)	red
RGB(255, 165, 0)	orange
RGB(255, 255, 0)	yellow
RGB(0, 128, 0)	green
RGB(0, 0, 255)	blue
RGB(75, 0, 130)	indigo
RGB(238, 130, 238)	violet/ */

*, 
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding: 0;
}
html{scroll-behavior: smooth;}

img, video, svg, picture, canvas{
    display: block;
    max-width: 100%;
}

.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid red;
   
}

/* ----HEADER----- */
.header{
    border: 2px solid red solid red;
    padding:5px;
    background: linear-gradient(120deg, red, orange,yellow,green,blue,indigo, violet);
    margin: 10px 10px 1rem 10px;
    display: flex;
    justify-content: center;
}

.header h2{
    font-weight: 900;
    font-family: 'chakra petch', Arial, Helvetica, sans-serif;
    border: 5px double black;
    width: fit-content;
    padding: 5px;
}
/* ----END OF HEADER----- */

.hr-line{
    margin-inline: 10px;
}

.alphabets-container{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    color:var(--clr-red) ;
    padding-block: 10px;
    font-weight: 900;
}
.letters-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55px,1fr));
  gap: 2px;
}

.letter-con{
    border: 2px solid var(--clr-sky);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position:relative;
    font-size: 12px;
    font-weight: 900;
}
.letter-con img{
    width: 50%;
   display: inline-block;
}

.letter-con.popup{
    width: 200px;
    height: 200px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-slate);
    box-shadow: 5px 5px var(--clr-sky);
    z-index: 999;
    /* padding: 10px; */
    text-align: center;
    font-size: 1.5rem;
}

.letter-con.popup .letter-img{
    width:50%;
}

footer{
    font-size: 1.2rem;
    font-weight: 900;
    border: 2px solid red solid red;
    padding:5px;
    background: linear-gradient(120deg, red, orange,yellow,green,blue,indigo, violet);
    margin: 10px 10px 1rem 10px;
}

@media (min-width:468px) {
    .container{
        max-width: 468px;
    }
    .alphabets-container{
       gap: 2px;
    }
    .letters-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
        gap: 2px;
      }
}

@media (min-width:768px) {
    .container{
        max-width: 768px;
    }

    .header{
        justify-content:flex-start;
    }

    .alphabets-container{
        gap:4px;
    }

    .letters-container{
        grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
      }
    .letter-con{
        font-size: 16px;
    }
    .letter-con.popup{
        width: 300px;
        height: 300px;
    }
    
    .letter-con.popup .letter-img{
        width:80%;
    }
    
}

@media (min-width:1024px) {
    .container{
        max-width: 1024px;
    }

    .alphabets-container{
        gap:6px;
    }
    .letters-container{
        grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
      }

}

@media (min-width:1680px) {
    .container{
        max-width: 1680px;
    }

    .alphabets-container{
        gap: 1.2rem;
        font-size: 1.2rem;
    }
    .letters-container{
        grid-template-columns: repeat(8, 200px);
      }
}